

.home-image {
    height: 65rem; 
    margin-bottom: 8rem;
    position: relative;
    overflow: hidden;
    display: flex;
  }
  .home-image img{
    position: absolute;
    width: 100%;
    height: 100%;     
  }
  
  
  .home-image::after{
    content:" ";
     display:block;
     height: 45px;
     background-image:url('../Images/torn-border2.png');
     position:absolute;
     bottom:-15px;
     width:300%;
     left:-500px; 
  }
  
  .home-text p{
    font-size: 6.5rem;
    font-weight: 700;
  
    }
.home-text{
        position: absolute;
        text-align: center;
        color: #000;
        width: 100%;
        bottom: 10%;
        
        }
        .home-text .inner-text{
            width: 45%;
            margin: 2rem auto;
        }

        .home-text .inner-text p{
            font-size: 3rem;
            font-family: serif;
            text-align: center;
            color: #2b0c0c;
        }

    .home-text h1, p{
      
        font-size: 5rem;
        text-transform: uppercase;
        font-family: 'Indie Flower', cursive;
        } 
        




 @keyframes cf3FadeInOut 
 {
        0% {
          opacity:1;
        }
        25% {
        opacity:1;
        }
        55% {
        opacity:0;
        }
        75% {
          opacity:0;
          }
        100% {
        opacity:0;
        }
}
        
  .home-image .img7
{
        animation-name: cf3FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-direction: alternate;
}

.good{
  position: absolute;
  text-align: center;
  bottom: -6rem;
  width: 100%;
}
.search{
   
    /* border: 2px solid rgb(105, 103, 103); */
    border-radius: 6rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 65%;
    padding: 1.8rem 6rem;
    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.search .go{
    /* border: 2px solid rgb(146, 9, 117); */
    text-align: left;
   
    padding: 0.5rem 1.5rem;
  
   
}

.search .two{
    /* border: 2px solid rgb(9, 146, 50); */
    width: 20rem;
}

.search .go h2{
    color: rgb(247, 231, 7);
    margin-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.search .go input, .search .go select{
    width: 18rem;
    border: none;
    padding: 0.8rem 1.2rem;
    border-bottom: 0.02rem solid #c2c0c0;
    color: #000000;
    outline: none;
    font-size: 1.5rem;

}

.search .go input:focus, .search .go select:focus{
    border-bottom: 0.02rem solid rgba(247, 231, 7, 0.533);
}

.search .go input::placeholder{
    color: #000;
}

.search  .three{
    display: flex;
    text-align: center;
    align-items: center;
    /* border: 2px solid rgb(27, 17, 163); */
}

.search  .three   h1{
    border-radius: 0.2rem;
    padding: 1rem 2.2rem;
    background: rgba(247, 231, 7, 0.533);
}

.search  .three   h1:hover{
    background: rgba(247, 231, 7, 0.833);
}

.search  .three   h1 i{
    margin-right: 1rem;
}
    


.heading {
  
    text-align: center;
    width: 80%;
    margin: 0 auto 5rem;
    
  
   
  }
  .heading h1 {
    margin: 1.5rem auto;
    width: fit-content;
    color: rgb(245, 241, 240);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4rem;
    /* margin-bottom: 0.3rem; */
    border-bottom: 1px solid rgb(255, 255, 255);
   
  }

  .heading h1 span{
    color: aqua;
  }
  
  .heading p {
    color: #d7e5ff;
    font-size: 1.7rem;
    padding: 0.2rem 2rem;
    text-transform: none;
    border: none;
    font-family: serif;
  
  }

  
section:nth-child(2n+1){
   /* border: 2px solid rgb(120, 211, 120); */
   padding: 3rem 7rem 8rem;
   background: rgb(0, 0, 0);
   margin: 0 auto;
 }
 
 section:nth-child(2n){
   /* border: 2px solid red; */
   background: rgb(14, 13, 13);
   padding: 3rem 7rem 8rem;
   margin: 0 auto;
  
  
 }

 .cardBox{
    /* border: 2px solid wheat; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
 }

 .cardBox .card{
     position: relative;
    text-align: center;
    /* border: 2px solid red; */
  
 }

 .cardBox .card .textCon{
    position: absolute;
    top: 40%;
    /* border: 2px solid rgb(0, 255, 106); */
 }

 .cardBox .card .picture{
   
    width: 1fr;
    height: 50rem;
    overflow: hidden;
 }

 .cardBox .card .picture:hover img{
    
    transform: scale(1.34);

 }

 .cardBox .card .picture img{
    transition: 7s ease-out;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
 }

 .cardBox .card  h2{
    font-size: 2.7rem;
    color: #c2c0c0;
   
 }

 .cardBox .card  p{
    font-size: 1.6rem;
    margin: 2rem 3rem;
    text-transform: none;
    
    color: #d7e5ff;
  
 }

 .explored .expBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

 }

 .impact .box{
  position: relative;
  height: 65rem;


}
.impact .box .container{
  position: absolute;
  top: 4rem;
  left: 5%;
  width: 90%;
 
}


.impact .box .container .oppo .innerPic img{
  width: 100%;
  height: 100%;
}

.impact .box .container .oppo .impactText{

  color: #fff;
  padding: 4rem 2rem;
 
}
.impact .box .container .oppo .impactText p{
  font-size: 1.5rem;
  padding: 0.4rem 0;
}
.impact .box .container .oppo .impactText h2{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.7rem;
}
.impact .box .container .oppo .impactText h3{
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 400;
}



.impact .box .container .heading p {
  color: #fff;
  border-top: 0.1rem solid rgb(255, 255, 255);
  border-bottom: 0.1rem solid rgb(255, 255, 255);
}


.impact .box .alpha{
  width: 100%;
  height: 100%; 
  
}

.impact .impactBtn{
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  border-radius: 4rem;
  border-bottom: 2px solid #fff;
  border-top: none ;
  border-left: none;
  border-right: none;
  color: #fff;
  font-weight: 600;
    
}

.impact .impactBtn:hover{
  color: rgb(221, 91, 52);
  border-bottom: 2px solid rgb(221, 91, 52);
}


.hosts{
  position: relative;
  padding: 5rem 0;
}
.hosts .box{
  
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
  padding: 0 10rem;
  margin: 5rem 0 1rem;

}

.hosts .box .hostPic{
  border: 4px solid rgb(255, 248, 248);
  width: 25rem;
  height: 25rem;
  
  border-radius: 50%;
}

.hosts .box .hostPic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}
.hosts .box .innerTexttest{
  width: 50%;
  text-align: left;
  padding: 0 2rem ;
}
.hosts .box .innerTexttest p{
  font-size: 1.5rem;
  color: rgb(254, 253, 249);
  opacity: 0.8;
  line-height: 1.7;
  margin-bottom: 3rem;
}
.hosts .box .innerTexttest h2{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.hosts .box .innerTexttest span{
  color: rgb(189, 189, 189);
  font-size: 6rem;
}

.hosts .der{
margin-top: 2rem;
width: 100%;
text-align: center;

}

.hosts button{
  font-size: 4rem;
  width: 5rem;
  background: transparent;
  color: #d7e5ff;
  border: none;
  margin: 1rem;
  cursor: pointer;

  
}

.hosts button:hover{
color: #167fbb;
}
.hosts button i{
  border-radius: 50%;
}

.footer {
  background: #fff !important;
  overflow: hidden;
 }


/* .hosts::after{
  content:" ";
  display: block;
  height: 45px;
  background-image:url('../Images/torn-border2.png');
  position: absolute;
  bottom:-8px;
  width:300%;
  left:-500px;
    
} */

.footer .footer-container .box-container{
  display: grid;
  gap: 1.7rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 2.5rem;
  border: 2px solid red;
 
  
}

.footer .footer-container .box-container .box h3{
  font-size: 2.5rem;
  padding: 1rem 0;
  text-transform: capitalize;

}


.footer .footer-container .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;


} 
.footer .footer-container .box-container .info a{
  text-transform: none;
}

.footer .footer-container .box-container .box a:hover i{
  padding-right: 1.5rem;
}


.footer .footer-container .box-container .box i{
  margin-right: .8rem;
  color: #167fbb;
}

.footer .footer-container .credit{
  text-align: center;
  font-size: 2.3rem;
  margin-top: 2.4rem;
  color: aqua;
  border: 2px solid red;
}

.footer .footer-container .credit span{
  color: #167fbb;
}

.footer .footer-container .credit span:hover{
  text-decoration: underline;
}